# RAG

In [ ]:
from get_Sentence import querySentence
from chunk_Split import GetChunk
from sentence_Embedding import Embedding
import textwrap
from sentence_transformers import SentenceTransformer, util
from time import perf_counter as timer
import torch

file_path = 'data/DemoData.pdf'
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)
# extract sentences into a list
text = querySentence(file_path)
list_of_sentence = text.extractSentence()
print(list_of_sentence)
# split doc into chunks
chunks = GetChunk(list_of_sentence)
chunk = chunks.splitChunks()

# embedding chunks
embedded = Embedding(chunk)
embeddedChunk, pages_and_chunks = embedded.EmbedModel()
print("Embedded chunks: \n", embeddedChunk)

def print_wrapped(text, wrap_length=80):
    wrapped_text = textwrap.fill(text, wrap_length)
    print(wrapped_text)

def get_RAG():
    # query
    query = input('Input something to find: ')

    # 2. Embed the query to the same numerical space as the text examples
    embedding_model = SentenceTransformer(model_name_or_path="all-mpnet-base-v2", device=device) # choose the device to load the model to (note: GPU will often be *much* faster than CPU)
    query_embedding = embedding_model.encode(query, convert_to_tensor=True)

    # 3. Get similarity scores with the dot product (we'll time this for fun)
    start_time = timer()
    dot_scores = util.dot_score(a=query_embedding, b=embeddedChunk)[0]
    end_time = timer()
    
    rag_output = ""

    rag_output += f"Time take to get scores on {len(embeddedChunk)} embeddings: {end_time-start_time:.5f} seconds. \n"

    # 4. Get the top-k results (3)
    top_results_dot_product = torch.topk(dot_scores, k=3)

    # print("Results:")
    # Loop through zipped together scores and indicies from torch.topk
    assistant_messages = ""
    for score, idx in zip(top_results_dot_product[0], top_results_dot_product[1]):
        rag_output += f"Score: {score:.4f}\n"
        # Print relevant sentence chunk (since the scores are in descending order, the most relevant chunk will be first)
        rag_output += "Text: \n"
        rag_output += f"""{pages_and_chunks[idx]["sentence_chunk"]} \n"""
        # Print the page number too so we can reference the textbook further (and check the results)
        rag_output += f"Page number: {pages_and_chunks[idx]['page_number']} \n"
        assistant_messages += pages_and_chunks[idx]["sentence_chunk"]

    return query, assistant_messages, rag_output

/home/quyld3/RAG/RAGLLM/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[{'page_number': 0, 'page_char_count': 0, 'page_word_count': 1, 'page_sentence_count_raw': 1, 'page_token_count': 0.0, 'text': '', 'sentences': [], 'pages_sentence_count_spacy': 0}, {'page_number': 1, 'page_char_count': 0, 'page_word_count': 1, 'page_sentence_count_raw': 1, 'page_token_count': 0.0, 'text': '', 'sentences': [], 'pages_sentence_count_spacy': 0}, {'page_number': 2, 'page_char_count': 262, 'page_word_count': 77, 'page_sentence_count_raw': 2, 'page_token_count': 65.5, 'text': 'Database  Fundamentals        Neeraj Sharma, Liviu Perniu, Raul F. Chong, Abhishek Iyer, Chaitali Nandan,   Adi-Cristina Mitea, Mallarswami Nonvinkere, Mirela Danubianu                           A book for the community by the community  F I R S T  E D I T I O N', 'sentences': ['Database  Fundamentals        Neeraj Sharma, Liviu Perniu, Raul F. Chong, Abhishek Iyer, Chaitali Nandan,   Adi-Cristina Mitea, Mallarswami Nonvinkere, Mirela Danubianu                           A book for the community by the community  F I R S T  E D I T I O N'], 'pages_sentence_count_spacy': 1}, {'page_number': 3, 'page_char_count': 309, 'page_word_count': 98, 'page_sentence_count_raw': 5, 'page_token_count': 77.25, 'text': 'Database Fundamentals  4                                                  First Edition (November 2010)  © Copyright IBM Corporation 2010. All rights reserved.  IBM Canada  8200 Warden Avenue  Markham, ON  L6G 1C7  Canada    This edition covers IBM® DB2® Express-C Version 9.7 for Linux®, UNIX® and  Windows®.', 'sentences': ['Database Fundamentals  4                                                  First Edition (November 2010)  © Copyright IBM Corporation 2010.', 'All rights reserved.', ' IBM Canada  8200 Warden Avenue  Markham, ON  L6G 1C7  Canada    This edition covers IBM® DB2® Express-C Version 9.7 for Linux®, UNIX® and  Windows®.'], 'pages_sentence_count_spacy': 3}, {'page_number': 4, 'page_char_count': 2713, 'page_word_count': 464, 'page_sentence_count_raw': 23, 'page_token_count': 678.25, 'text': '5    Notices   This information was developed for products and services offered in the U.S.A.   IBM may not offer the products, services, or features discussed in this document in other countries.  Consult your local IBM representative for information on the products and services currently available  in your area. Any reference to an IBM product, program, or service is not intended to state or imply  that only that IBM product, program, or service may be used. Any functionally equivalent product,  program, or service that does not infringe any IBM intellectual property right may be used instead.  However, it is the user\'s responsibility to evaluate and verify the operation of any non-IBM product,  program, or service.  IBM may have patents or pending patent applications covering subject matter described in this  document. The furnishing of this document does not grant you any license to these patents. You can  send license inquiries, in writing, to:   IBM Director of Licensing  IBM Corporation  North Castle Drive  Armonk, NY 10504-1785  U.S.A.   For license inquiries regarding double-byte character set (DBCS) information, contact the IBM  Intellectual Property Department in your country or send inquiries, in writing, to:   Intellectual Property Licensing  Legal and Intellectual Property Law  IBM Japan, Ltd.  3-2-12, Roppongi, Minato-ku, Tokyo 106-8711  The following paragraph does not apply to the United Kingdom or any other country where  such provisions are inconsistent with local law: INTERNATIONAL BUSINESS MACHINES  CORPORATION PROVIDES THIS PUBLICATION "AS IS" WITHOUT WARRANTY OF ANY KIND,  EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED  WARRANTIES  OF  NON-INFRINGEMENT,  MERCHANTABILITY  OR  FITNESS  FOR  A  PARTICULAR PURPOSE. Some states do not allow disclaimer of express or implied warranties in  certain transactions, therefore, this statement may not apply to you.   This information could include technical inaccuracies or typographical errors. Changes are  periodically made to the information herein; these changes will be incorporated in new editions of the  publication. IBM may make improvements and/or changes in the product(s) and/or the program(s)  described in this publication at any time without notice.   Any references in this information to non-IBM Web sites are provided for convenience only and do  not in any manner serve as an endorsement of those Web sites. The materials at those Web sites  are not part of the materials for this IBM product and use of those Web sites is at your own risk.  IBM may use or distribute any of the information you supply in any way it believes appropriate without  incurring any obligation to you.', 'sentences': ['5    Notices   This information was developed for products and services offered in the U.S.A.   IBM may not offer the products, services, or features discussed in this document in other countries.', ' Consult your local IBM representative for information on the products and services currently available  in your area.', 'Any reference to an IBM product, program, or service is not intended to state or imply  that only that IBM product, program, or service may be used.', 'Any functionally equivalent product,  program, or service that does not infringe any IBM intellectual property right may be used instead.', " However, it is the user's responsibility to evaluate and verify the operation of any non-IBM product,  program, or service.", ' IBM may have patents or pending patent applications covering subject matter described in this  document.', 'The furnishing of this document does not grant you any license to these patents.', 'You can  send license inquiries, in writing, to:   IBM Director of Licensing  IBM Corporation  North Castle Drive  Armonk, NY 10504-1785  U.S.A.   For license inquiries regarding double-byte character set (DBCS) information, contact the IBM  Intellectual Property Department in your country or send inquiries, in writing, to:   Intellectual Property Licensing  Legal and Intellectual Property Law  IBM Japan, Ltd.  3-2-12, Roppongi, Minato-ku, Tokyo 106-8711  The following paragraph does not apply to the United Kingdom or any other country where  such provisions are inconsistent with local law: INTERNATIONAL BUSINESS MACHINES  CORPORATION PROVIDES THIS PUBLICATION "AS IS" WITHOUT WARRANTY OF ANY KIND,  EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED  WARRANTIES  OF  NON-INFRINGEMENT,  MERCHANTABILITY  OR  FITNESS  FOR  A  PARTICULAR PURPOSE.', 'Some states do not allow disclaimer of express or implied warranties in  certain transactions, therefore, this statement may not apply to you.', '  This information could include technical inaccuracies or typographical errors.', 'Changes are  periodically made to the information herein; these changes will be incorporated in new editions of the  publication.', 'IBM may make improvements and/or changes in the product(s) and/or the program(s)  described in this publication at any time without notice.', '  Any references in this information to non-IBM Web sites are provided for convenience only and do  not in any manner serve as an endorsement of those Web sites.', 'The materials at those Web sites  are not part of the materials for this IBM product and use of those Web sites is at your own risk.', ' IBM may use or distribute any of the information you supply in any way it believes appropriate without  incurring any obligation to you.'], 'pages_sentence_count_spacy': 15}, {'page_number': 5, 'page_char_count': 2802, 'page_word_count': 443, 'page_sentence_count_raw': 23, 'page_token_count': 700.5, 'text': 'Database Fundamentals  6        The licensed program described in this document and all licensed material available for it are  provided by IBM under terms of the IBM Customer Agreement, IBM International Program License  Agreement or any equivalent agreement between us.  Any performance data contained herein was determined in a controlled environment. Therefore, the  results obtained in other operating environments may vary significantly. Some measurements may  have been made on development-level systems and there is no guarantee that these measurements  will be the same on generally available systems. Furthermore, some measurements may have been  estimated through extrapolation. Actual results may vary. Users of this document should verify the  applicable data for their specific environment.  Information concerning non-IBM products was obtained from the suppliers of those products, their  published announcements or other publicly available sources. IBM has not tested those products and  cannot confirm the accuracy of performance, compatibility or any other claims related to non-IBM  products. Questions on the capabilities of non-IBM products should be addressed to the suppliers of  those products.  All statements regarding IBM\'s future direction or intent are subject to change or withdrawal without  notice, and represent goals and objectives only.  This information contains examples of data and reports used in daily business operations. To  illustrate them as completely as possible, the examples include the names of individuals, companies,  brands, and products. All of these names are fictitious and any similarity to the names and addresses  used by an actual business enterprise is entirely coincidental.  COPYRIGHT LICENSE:  This information contains sample application programs in source language, which illustrate  programming techniques on various operating platforms. You may copy, modify, and distribute these  sample programs in any form without payment to IBM, for the purposes of developing, using,  marketing or distributing application programs conforming to the application programming interface  for the operating platform for which the sample programs are written. These examples have not been  thoroughly tested under all conditions. IBM, therefore, cannot guarantee or imply reliability,  serviceability, or function of these programs. The sample programs are provided "AS IS", without  warranty of any kind. IBM shall not be liable for any damages arising out of your use of the sample  programs.  References in this publication to IBM products or services do not imply that IBM intends to make  them available in all countries in which IBM operates.  If you are viewing this information softcopy, the photographs and color illustrations may not  appear.', 'sentences': ['Database Fundamentals  6        The licensed program described in this document and all licensed material available for it are  provided by IBM under terms of the IBM Customer Agreement, IBM International Program License  Agreement or any equivalent agreement between us.', ' Any performance data contained herein was determined in a controlled environment.', 'Therefore, the  results obtained in other operating environments may vary significantly.', 'Some measurements may  have been made on development-level systems and there is no guarantee that these measurements  will be the same on generally available systems.', 'Furthermore, some measurements may have been  estimated through extrapolation.', 'Actual results may vary.', 'Users of this document should verify the  applicable data for their specific environment.', ' Information concerning non-IBM products was obtained from the suppliers of those products, their  published announcements or other publicly available sources.', 'IBM has not tested those products and  cannot confirm the accuracy of performance, compatibility or any other claims related to non-IBM  products.', 'Questions on the capabilities of non-IBM products should be addressed to the suppliers of  those products.', " All statements regarding IBM's future direction or intent are subject to change or withdrawal without  notice, and represent goals and objectives only.", ' This information contains examples of data and reports used in daily business operations.', 'To  illustrate them as completely as possible, the examples include the names of individuals, companies,  brands, and products.', 'All of these names are fictitious and any similarity to the names and addresses  used by an actual business enterprise is entirely coincidental.', ' COPYRIGHT LICENSE:  This information contains sample application programs in source language, which illustrate  programming techniques on various operating platforms.', 'You may copy, modify, and distribute these  sample programs in any form without payment to IBM, for the purposes of developing, using,  marketing or distributing application programs conforming to the application programming interface  for the operating platform for which the sample programs are written.', 'These examples have not been  thoroughly tested under all conditions.', 'IBM, therefore, cannot guarantee or imply reliability,  serviceability, or function of these programs.', 'The sample programs are provided "AS IS", without  warranty of any kind.', 'IBM shall not be liable for any damages arising out of your use of the sample  programs.', ' References in this publication to IBM products or services do not imply that IBM intends to make  them available in all countries in which IBM operates.', ' If you are viewing this information softcopy, the photographs and color illustrations may not  appear.'], 'pages_sentence_count_spacy': 22}, {'page_number': 6, 'page_char_count': 908, 'page_word_count': 149, 'page_sentence_count_raw': 15, 'page_token_count': 227.0, 'text': '7    Trademarks  IBM, the IBM logo, and ibm.com are trademarks or registered trademarks of International Business  Machines Corp., registered in many jurisdictions worldwide. Other product and service names might  be trademarks of IBM or other companies. A current list of IBM trademarks is available on the Web at  “Copyright and trademark information” at www.ibm.com/legal/copytrade.shtml.  Java and all Java-based trademarks are trademarks of Sun Microsystems, Inc. in the United States,  other countries, or both.  Microsoft and Windows are trademarks of Microsoft Corporation in the United States, other countries,  or both.  Linux is a registered trademark of Linus Torvalds in the United States, other countries, or both.  UNIX is a registered trademark of The Open Group in the United States and other countries.  Other company, product, or service names may be trademarks or service marks of others.', 'sentences': ['7    Trademarks  IBM, the IBM logo, and ibm.com are trademarks or registered trademarks of International Business  Machines Corp., registered in many jurisdictions worldwide.', 'Other product and service names might  be trademarks of IBM or other companies.', 'A current list of IBM trademarks is available on the Web at  “Copyright and trademark information” at www.ibm.com/legal/copytrade.shtml.', ' Java and all Java-based trademarks are trademarks of Sun Microsystems, Inc. in the United States,  other countries, or both.', ' Microsoft and Windows are trademarks of Microsoft Corporation in the United States, other countries,  or both.', ' Linux is a registered trademark of Linus Torvalds in the United States, other countries, or both.', ' UNIX is a registered trademark of The Open Group in the United States and other countries.', ' Other company, product, or service names may be trademarks or service marks of others.'], 'pages_sentence_count_spacy': 8}, {'page_number': 7, 'page_char_count': 0, 'page_word_count': 1, 'page_sentence_count_raw': 1, 'page_token_count': 0.0, 'text': '', 'sentences': [], 'pages_sentence_count_spacy': 0}, {'page_number': 8, 'page_char_count': 5210, 'page_word_count': 292, 'page_sentence_count_raw': 3893, 'page_token_count': 1302.5, 'text': 'Table of Contents  Preface ............................................................................................................................. 15  Who should read this book? ........................................................................................ 15  How is this book structured? ........................................................................................ 15  A book for the community ............................................................................................ 15  Conventions ................................................................................................................. 15  What’s next? ................................................................................................................ 16  About the Authors ........................................................................................................... 17  Contributors .................................................................................................................... 19  Acknowledgements ........................................................................................................ 21  Chapter 1 - Databases and information models .......................................................... 23  1.1 What is a database? .............................................................................................. 23  1.2 What is a database management system? ........................................................... 23  1.2.1 The evolution of database management systems .......................................... 24  1.3 Introduction to information models and data models ............................................. 26  1.4 Types of information models .................................................................................. 27  1.4.1 Network model ................................................................................................ 28  1.4.2 Hierarchical model .......................................................................................... 28  1.4.3 Relational model ............................................................................................. 29  1.4.4 Entity-Relationship model ............................................................................... 30  1.4.5 Object-relational model ................................................................................... 31  1.4.6 Other data models .......................................................................................... 32  1.5 Typical roles and career path for database professionals ..................................... 32  1.5.1 Data Architect ................................................................................................. 32  1.5.2 Database Architect ......................................................................................... 32  1.5.3 Database Administrator (DBA) ....................................................................... 33  1.5.4 Application Developer ..................................................................................... 34  1.6 Summary ................................................................................................................ 34  1.7 Exercises ............................................................................................................... 35  1.8 Review questions ................................................................................................... 35  Chapter 2 – The relational data model .......................................................................... 37  2.1 Relational data model: The big picture .................................................................. 37  2.2 Basic concepts ....................................................................................................... 38  2.2.1 Attributes ......................................................................................................... 38  2.2.2 Domains .......................................................................................................... 39  2.2.3 Tuples ............................................................................................................. 40  2.2.4 

# LLM (Gemini)

In [3]:
# LLM model
import google.generativeai as genai
from dotenv import load_dotenv
import os

load_dotenv()
api_key = os.getenv("Gemini_API")

genai.configure(api_key=api_key)
model = genai.GenerativeModel("gemini-1.5-flash")
query, assistant_messages, rag_output = get_RAG()

message = f"""
            "You are an AI assistant that answers questions.",
            "You are a very honest person, never make up answer from what you do not know. If you do not know the answer, say exactly I DO NOT KNOW!",
            "content": {query}

"""

response = model.generate_content(message).text

if bool("I DO NOT KNOW!" in response):
    message += assistant_messages
    rag_response = model.generate_content(message).text
    print_wrapped(rag_output)
    print("__________________________________LLM answer______________________________________")
    print_wrapped(rag_response)
else:
    print_wrapped(response)

RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cpu and cuda:0! (when checking argument for argument mat2 in method wrapper_CUDA_mm)

: